body {
    background-image: url(./img/Fire.jpg);
    font-family: 'Alfa Slab One', cursive;

}

#burgerLogo {
    width: 420px;
    height: 350px;
}

#topContainer {
    margin-top: 20px;
    font-family: 'Alfa Slab One', cursive;
    background-color: rgb(34, 3, 34);
    color: white;
    border-radius: 40px;
    border: 3px solid white;
}

#topRightBox {
    text-align: center;
}

#burgerPic {
    width: 350px;
    height: 300px;
    border-radius: 20px;
    margin-top: 25px;
}

#addBurgerLabel {
    font-family: Arial, Helvetica, sans-serif;

}

#leftHead, #rightHead, #menuList, #menuListLeft, #topHead {
    background-color: rgb(34, 3, 34);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 40px;
    border: 2px solid white;
}

#rightHead, #leftHead {
    border: 2px solid white;
    margin-bottom: 20px;
}

#panelBottom, #panelBottomLeft {
    border-radius: 40px;
}

#topHead {
    border-radius: 40px;
    margin-bottom: 30px;
    text-align: center;    
    padding-bottom: 25px;
    border: 2px solid white;

}

#trashIcon {
    background-color: rgb(190, 74, 74);
    padding: 10px;
    border-radius: 5px;
}

#utensilsIcon {
    background-color: rgb(216, 166, 74);
    padding: 10px;
    border-radius: 5px;
}

#topHeadHeading {
    font-size: 40px;
    padding-top: 25px;
}

#leftHead, #rightHead {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#menuList, #menuListLeft {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}


#topRightBox {
    font-size: 30px;
    font-weight: normal;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#newburger {
    color: black;
}

#footer {
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#footerText {
        font-size: 20px;
}




/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    margin-top: 30px;  
    color: white;  
    text-align: center;  
    background-color: #0e0f0f;
    margin: auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }

  #modalTitle {
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }